* {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 40px;
}

#flex-box {
  margin: auto;
  display: flex;
  width: 75vw;
  height: 75vh;
  border-radius: 45px;
  box-shadow: 0px 0px 40px 28px #ffb048;
}

#flex-box-A {
  width: 60vw;
  height: 75vh;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fe408ccc;
}

#flex-box-B {
  width: 40vw;
  height: 75vh;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  background-image: linear-gradient(to bottom, #ffb048, #fe408c);
  display: flex;
  color: white;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}

h2 {
  margin-top: auto;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  margin-bottom: auto;
  font-size: 25px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 48px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.404);
  margin-top: 80px;
}

#Name {
  width: 20vw;
  height: 4.8vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 12px 14px #fe408c50;
  border-radius: 20px;
  border: none;
  outline: none;
}

#Email {
  width: 20vw;
  height: 4.8vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 12px 14px #ffb04850;
  border-radius: 20px;
  border: none;
  outline: none;
}

#Password {
  width: 20vw;
  height: 4.8vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 12px 14px #fe408c50;
  border-radius: 20px;
  border: none;
  outline: none;
}

#button {
  width: 20vw;
  height: 4.8vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0px 0px 12px 14px #ffb04850;
  border-radius: 20px;
  border: none;
  margin-top: 30;
  margin-bottom: 30;
}

#button:focus {
  background-color: greenyellow;
  outline: none;
}

.p {
  margin: 14px;
  font-size: large;
}

a {
  color: #ffb048;
  text-decoration: none;
  font-size: large;
  font-weight: 800;
}

/* https://mrhell8790.github.io/modern-login/ */
